*.iml
.gradle/
local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build/
captures/
.externalNativeBuild/
.cxx/

local.properties
*.keystore
*.jks
key.properties

app/src/main/res/values/google_maps_api.xml

*.log
*.hprof
*.orig
*.rej

.idea/
.gradle/
out/

Thumbs.db
ehthumbs.db
Desktop.ini

*.apk
*.ap_
*.dex
*.class
*.jar
*.war
*.ear

bin/
gen/
obj/
